##
## source https://github.com/mmistakes/mm-github-pages-starter
##

# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Site Settings
locale                   : "en-GB"
title                    : "Nina Gernow"
title_separator          : "-"
subtitle                 : "Nina Gernow Soul Acceleration"

email                    : nina.gernow@gmail.com

description              : >- # this means to ignore newlines until "baseurl:"
  Love and light, peace, mind, awareness, happiness, you have it all!

twitter_username: 

github_username: 

#minimal_mistakes_skin: default
minimal_mistakes_skin: aqua # mint

search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: GB # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Site Author
author:
  name   : "Nina Gernow"
  avatar : "/assets/images/nina-gernow-photo-small01.jpg"
  bio    : "Nina's bio, Love and light, peace, mind, awareness, happiness, you have it all!"
  links:
    - label: "Nina Gernow"
      icon: "fas fa-fw fa-link"
      url: "https://www.ninagernow.com"

# Site Footer
footer:
  links:
    - label: "Nina Gernow"
      icon: "fas fa-fw fa-link"
      url: "https://twitter.com/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
  
  
# Analytics
analytics:
  provider               : "google-universal" # false (default), "google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id          : "UA-178403259-1"
    anonymize_ip         : "true" # true, false (default)

encoding: "utf-8"
